.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
  margin-bottom: 5vh;
}
.header p {
  font-size: clamp(12px, 4vw, 16px);
  font-weight: 400;
  line-height: clamp(12px, 4vw, 24px);
  color: var(--green);
}
.header h3 {
  font-size: clamp(18px, 4vw, 32px);
  font-weight: 500;
  line-height: clamp(24px, 4vw, 48px);
  text-align: left;
}
.form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  flex-direction: column;
  gap: 0.5vh;
}
.input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0.5vh auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 4px;
  box-sizing: border-box;
}
.input label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #6d7280;
}
.input input {
  width: 100%;
  padding: 12px 20px;
  margin: 0.5vh auto;
  border-radius: 4px;
  border: 1px solid #6d7280;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
}
.back {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 1vh;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.back a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.back a:hover {
  color: var(--green);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.loginText {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 1vh;
}
.button {
  background: var(--green);
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.button:hover {
  background: var(--lightGreen);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
